<h1>Hello World.</h1>

<p>I'm Saleh Basalim.</p>


<ul>
  <li>I am <strong><%= myTypeClient %></strong> 🚀</li>
</ul>


<footer> sent from a file on my node server, yo!

    <a href="/send">send<br></a> |

    link tp my repo <a href="https://github.com/salehmb89/dev-lab-nov/" target="_blank">Source Code</a>

</footer>
